{% extends 'social/../base/nav_bar.html' %}
{% block staticfiles %}{% load static from staticfiles %}{% endblock %}
<!DOCTYPE html>
<html>
  <head>
  </head>
      {% block custom_design %}
       <link href="https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco" rel="stylesheet">
    {% endblock %}
  <body>
    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-5">
                    <p class="h1">My Journal</p>
                </div>
            </div>
            {% for journal_feed in list_of_journal_feeds %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-3">
                                        <span class="para-font">Entry: <span class="header-color">{{ journal_feed.day_entry }}</span></span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="para-font">{{ journal_feed.day_created }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if journal_feed.is_pic_set %}
                                                <p class="journal-font">{{ journal_feed.entry }}</p>

                                        {% elif journal_feed.is_mil %}
                                            <a href="{% url 'social:milestone_view' journal_feed.content.slug %}">
                                                <p class="journal-font">{{ journal_feed.entry }}</p>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'social:project_view' journal_feed.content.slug %}">
                                                <p class="journal-font">{{ journal_feed.entry }}</p>
                                            </a>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button onclick="showCommentBox({{ journal_feed.comment_id }})" class="btn btn-sm btn-primary">
                                            Add New Thought
                                        </button>
                                        <a href="{% url 'social:journal_post_comments' journal_feed.feed_entry.slug %}">
                                               <span class="para-font">View Thoughts</span>
                                        </a>
                                    </div>
                                </div>
                                <div id="{{ journal_feed.comment_id }}" hidden>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                          <div class="form-group">
                                              <label for="com_{{ journal_feed.comment_id }}"><p class="para-font">Thoughts:</p></label>
                                              <br><br>
                                              <textarea placeholder="Journal your thoughts to project" id="com_{{ journal_feed.comment_id }}" class="form-control">
                                              </textarea>
                                          </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button onclick="sendComment({{ journal_feed.comment_id }})" class="btn btn-sm">
                                                <span class="journal-font">Add</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        <script>

            function showCommentBox(comment_id){
                $("#"+comment_id).toggle(1000);
            }

            function sendComment(comment_id){
                var comment = $("#com_"+comment_id).val().trim();
                console.log(comment + " comments");
                if(comment == ""){
                    Materialize.toast("Hey, thoughts can't be empty", 2000);
                }
                else{
                    console.log(comment + " comments");
                    $.ajaxSetup({
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                    });
                    $.ajax({
                        url: '{% url 'social:journal_entries' %}',
                        type: "POST",
                        data: { journal_id: comment_id, comment: comment},
                        success: function(response){
                            var statusParse = JSON.parse(response);
                            var status = statusParse["status"];
                            if (status == true){
                                console.log("sent");
                                toastr.success('Comment Added!');
                            }
                            else{
                                console.log("Can't be empty");
                            }

                        },
                        error: function(xhr){
                            $("#error-message").text(xhr.responseText).show();
                        }
                    })
                }
            }
        </script>
    {% endblock %}
</body>
</html>