{% extends 'social/notification_view.html' %}
{% block staticfiles %}{% load static from staticfiles %}{% endblock %}
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    {% block body %}
         <div class="container">
            <div class="col-md-10 no-paddin-xs">
                <div class="col-md-8">
                    <div class="page-header">
                        <span class="h1 display-font">People interested in your goals</span>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if let_down_results %}
                            {% for letdown in let_down_results %}
                                 <div class="col-md-8">
                                 {% if not letdown.mil.is_deleted %}
                                    <a href="{% url 'social:milestone_view' letdown.mil.slug %}">
                                        <span class="para-font">
                                            {% if letdown.count %}
                                            You let down {{ letdown.count }} persons with milestone {{ letdown.name_of_burb }}
                                            {% else %}
                                                {{ letdown.mil.user.user.first_name }} {{ letdown.mil.user.user.last_name }} failed to complete milestone:
                                                {{ letdown.name_of_blurb }}
                                            {% endif %}
                                        </span>
                                    </a>
                                 {% else %}
                                     <span class="para-font">
                                        {% if letdown.count %}
                                        You let down {{ letdown.count }} persons with milestone {{ letdown.name_of_burb }}
                                        {% else %}
                                            {{ letdown.mil.user.user.first_name }} {{ letdown.mil.user.user.last_name }} failed to complete milestone:
                                            {{ letdown.name_of_blurb }}
                                        {% endif %}
                                     </span>
                                 {% endif %}
                                 </div>
                            {% endfor %}
                            {% else %}
                                <p class="para-font">Yey! You have no let downs!..yet</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        $(document).ready(function(){
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '{% url 'social:let_downs_notifications' %}',
                type: "POST",
                success: function(){
                    console.log("Successful sent request to remove new feature");
                },
                error: function(xhr){
                    $("#error-message").text(xhr.responseText).show();
                }
            })
        });
        </script>
    {% endblock %}

</body>
</html>