{% extends 'social/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
    <div class="row container">
    <p hidden id="error-message" class="alert">Error Occured Tried Again</p>
{% if result %}
    {% for user, friend_status in result %}
        <div id="{{ user.user.username }}" class="row">
            <div class="col-md-3">
               {{ user.user.first_name }} {{ user.user.last_name }}
            </div>
            <div class="col-md-3">
                {% if friend_status %}
                    Friends
                {% else %}
                    <button id="add-friend-button" name="{{ user.id }}" class="btn-link">Add Friend</button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
        Sorry no results found
{% endif %}
    </div>
    <script>
        $('#add-friend-button').click(function(){
            var id = $(this).attr("name");
            console.log("Friends Adding Request sent ", + id);
            send_friends_request(id);
        });

        function send_friends_request(id){
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '{% url 'social:send_friend_request' %}',
                type: "POST",
                data: { user_id: id  },
                success: function(){
                    $("#add-friend-button").text("Friend Request Sent!");
                    console.log("Successful sent request");
                },
                error: function(xhr){
                    $("#error-message").text(xhr.responseText).show();
                }
            })
        }

    </script>
{% endblock %}
</body>
</html>