{% extends 'social/notification_view.html' %}
{% block staticfiles %}{% load static from staticfiles %}{% endblock %}
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    {% block body %}
        <div class="container">
            {% if mil_down_results %}
            {% for mil_down in mil_down_results %}
                 <div class="col-md-8">
                    <a href="{% url 'social:milestone_view' mil_down.slug %}">
                        <span class="flow-text">
                            {{ mil_down.count }} persons have faith you will get {{ mil_down.blurb }} completed!
                        </span>
                    </a>
                 </div>
            {% endfor %}
            {% else %}
                <p class="flow-text">No recent vouches so far!</p>
            {% endif %}
        </div>
    {% endblock %}

</body>
</html>