{% extends 'social/../base/nav_bar.html' %}
{% block staticfiles %}{% load static from staticfiles %}{% endblock %}
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    {% block body %}
        <div class="container-fluid">
            <div class="row">
                <div class="col s8">
                    <a href="{% url 'social:milestone_view' milestone.slug %}"><p class="flow-text">{{ milestone.name_of_milestone }}</p></a>
                </div>
                <div class="col s4">
                    <h3>{{ status }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a href="{% url 'social:project_view' project_slug %}"><h4>Project: {{ project_name }}</h4></a>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button id="vouch" onclick="createVouch({{ feed_id }})" name="{{ feed_id }}"
                            class="btn btn-link"><h6>Vouches</h6></button><span id="vouch_{{ feed_id }}"> {{ vouch_count }}</span>
                </div>
                <div class="col s6">
                    <i class="btn btn-link"><h6>seen</h6><span id="seen">{{ seen_count }}</span></i>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {% if project_completed %}
                        <span>Based on {{ user_first_name }}'s community, there was a {{ percentage }}% chance of completing milestone</span>
                    {% else %}
                        <span>Based on {{ user_first_name }}'s community, there is a {{ percentage }}% chance of completing milestone</span>
                    {% endif %}
                </div>
            </div>
            {% include "social/milestone_pictures.html" %}
            <div class="row">
                <div class="col-md-2 col-md-offset-5">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#picRowsModal">
                        View Pictures
                    </button>
                </div>
            </div>
        </div>
         <script>
            function createVouch(pk){
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                });
                $.ajax({
                    url: '{% url 'social:create_vouch' %}',
                    type: "POST",
                    data: { mil_id: pk  },
                    success: function(response){
                        var statusParse = JSON.parse(response);
                        var status = statusParse["status"];
                        var count = 0;
                        if (status == true){
                            count = $("#vouch_"+pk).text();
                            $("#vouch_"+pk).empty();
                            count++;
                            $("#vouch_"+pk).text(count);
                        }
                        else{
                            console.log("already vouched");
                        }
                        console.log("Successful sent request" + count);
                    },
                    error: function(xhr){
                        $("#error-message").text(xhr.responseText).show();
                    }
                })
            }
        </script>
    {% endblock %}
  </body>
</html>