{% extends 'social/../base/nav_bar.html' %}
{% block staticfiles %}{% load static from staticfiles %}{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Feed</title>
     {% block custom_design %}

    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container">
        {% for feed in all_feeds %}
            <div class="row">
                <div class="row"> <!--- user pic and name --->
                    <div class="col s6">

                    </div>
                    <div class="col s6">

                    </div>
                </div>
                <div class="row"> <!--- feed info and name --->
                    {% if feed.is_milestone_feed %}
                        <a href="{% url 'social:milestone_view' feed.tasks.slug %}">{{ feed.message }}</a>
                         <div class="row">
                            <div class="col s2">
                                <button id="vouch" onclick="createVouch({{ feed.feed_id }})" name="{{ feed.feed_id }}"
                                        class="btn-link">vouche<span id="vouch_{{ feed.feed_id }}"> {{ feed.vouche_count }}</span></button>
                            </div>
                             <div class="col s2">
                                <i class="btn-link">seen <span id="seen">{{ feed.seen_count }}</span></i>
                             </div>
                         </div>
                    {% elif feed.is_picture_feed %}
                        <div class="col s12">
                            <div class="ba-slider">
                               <img src="{{ feed.before_url }}">
                               <div class="resize">
                                   <img src="{{ feed.after_url }}">
                               </div>
                               <span class="handle"></span>
                            </div>
                        </div>
                        <div class="row">
                            <span>Milestone: </span>{{ feed.message }}
                        </div>
                    {% else %}
                        <a href="{% url 'social:project_view' feed.tasks.slug %}">{{ feed.message }}</a>
                         <div class="row">
                            <div class="col s2">
                                <button onclick="createFollow({{ feed.tasks.id }})" class="btn-link">interesting
                                    <span id="inter_{{ feed.tasks.id }}">{{ feed.follow_count }}</span>
                                </button>
                            </div>
                             <div class="col s2">
                                <i class="btn-link">seen <span id="seen">{{ feed.seen_count }}</span></i>
                             </div>
                         </div>
                    {% endif %}
                </div>
                <br><br>
            </div>
        {% endfor %}
    </div>
    <script>
        function createVouch(pk){
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '{% url 'social:create_vouch' %}',
                type: "POST",
                data: { mil_id: pk  },
                success: function(response){
                    var statusParse = JSON.parse(response);
                    var status = statusParse["status"];
                    var count = 0;
                    if (status == true){
                        count = $("#vouch_"+pk).text();
                        $("#vouch_"+pk).empty();
                        count++;
                        $("#vouch_"+pk).text(count);
                    }
                    else{
                        console.log("already vouched");
                    }
                    console.log("Successful sent request" + count);
                },
                error: function(xhr){
                    $("#error-message").text(xhr.responseText).show();
                }
            })
        }

        function createFollow(pk){
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '{% url 'social:create_follow' %}',
                type: "POST",
                data: { proj_id: pk  },
                success: function(response){
                    var statusParse = JSON.parse(response);
                    var status = statusParse["status"];
                    var count = 0;
                    if (status == true){
                        count = statusParse["count"];
                        $("#inter_"+pk).empty();
                        $("#inter_"+pk).text(count);
                        Materialize.toast("Interest Noted!", 2000);
                    }
                    else{
                        console.log("already follow");
                    }
                    console.log("Successful sent follow request" + count);
                },
                error: function(xhr){
                    $("#error-message").text(xhr.responseText).show();
                }
            })
        }

    </script>
{% endblock %}
</body>
</html>