{% extends 'social/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picture Upload</title>
</head>
<body>
{% block body %}
    <div class="row">
        <div class="col-md-3">
            {% if user_pic.profile_pics %}
                <img src ='{{  user_pic.profile_pics.url }}' style="width:40%;height:40%;" class="img-circle"/>
                {% else %}
                <form method="post" action="{% url 'social:upload_picture' %}" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        {{ user_picture_form }}
                    </div>
                    <input type="submit" name="upload-picture" value="Upload Picture">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
</body>
</html>