{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'theme-design/img/favicon.png' %}">
    <!-- Bootstrap core CSS -->
    {% block design %}
        <link href="{% static "theme-design/bootstrap-3.3.5/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "theme-design/assets/css/animate.min.css" %}" rel="stylesheet">
        <link href="{% static "theme-design/font-awesome-4.4.0/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "theme-design/assets/css/timeline.css" %}" rel="stylesheet">
        <link href="{% static "theme-design/assets/css/cover_profile.css" %}" rel="stylesheet">
        <script src="{% static "theme-design/assets/js/jquery.1.11.1.min.js" %}"></script>
        <script src="{% static "theme-design/bootstrap-3.3.5/js/bootstrap.min.js" %}"></script>
        <script src="{% static "theme-design/assets/js/custom.js" %}"></script>
        <!-- Compiled and minified JavaScript -->
        <link href="{% static "image-comparison-slider/css/reset.css" %}" rel="stylesheet" type="text/css"/>
         <script src="{% static "image-comparison-slider/js/modernizr.js" %}"></script>
        <script src="{% static "custom_scripts.js" %}"></script>
        <link href="{% static 'custom_style.css' %}" rel="stylesheet" type="text/css"/>

        <!--- google font --->
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/general_design.css' %}">
       <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Open+Sans:700" rel="stylesheet">
        <!---style sheet --->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
        <script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
    {% endblock %}
    {% block custom_design %}

    {% endblock %}
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body onload="checkNotification()">

    {% block search %}
            <!-- Fixed navbar -->
            <nav class="navbar navbar-default navbar-fixed-top navbar-principal">
                {% if messages %}
                    {% for message in messages %}
                      <div
                          {% if message.tags == "success" %}
                                class="message alert alert-success"
                          {% else %}
                                class="message alert alert-warning"{% endif %} role="alert">
                          <span class="para-font link-color">{{ message|safe }}</span>
                      </div>
                    {% endfor %}
                {% endif %}
                  <div hidden id="show-notif-message" class="message alert alert-info" role="alert">
                    <span class="para-font">You have at least one new notification</span>
                  </div>

                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                        <a class="navbar-brand"  href="{% url 'social:todo_feed' %}"><b class="nav-font"><img style="width:40%; height: 200%" src="{% static 'images/animal_logo.png' %}"></b></a>
                  </div>
                <div class="container">
                  <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active active-color">
                                <a href="{% url 'tasks:home' %}"><i class="material-icons">home</i><span class="feed-font">home</span></a>
                            </li>
                            <li class="active active-color"><a href="{% url 'social:todo_feed' %}"><span class="feed-font"><i class="material-icons">rss_feed</i>feed</span></a></li>
                            <li class="active active-color"><a href="{% url 'social:journal_entries' %}"><i class="material-icons">book</i><span class="feed-font">my entries</span></a></li>
                            <li class="active active-color">
                                <a href="{% url 'social:all_pond' %}"><i class="material-icons">group</i><span class="feed-font"> my ponds</span></a>
                            </li>
                        </ul>
                      <ul class="nav navbar-nav navbar-right">
                          <li class="active active-color"><a href="{% url 'social:new_pond_entry' %}"><i class="material-icons">group_add</i><span class="feed-font"> create pond</span></a></li>
                          <li class="active active-color"><a href="{% url 'tasks:add_proj' %}"><i class="material-icons">create</i><span class="feed-font"> create goal/milestone</span></a></li>
                          <li class="active active-color">
                              <a href="{% url 'social:notifications' %}">
                                <span id="show-no-notification"><i style="font-size:24px;" class="material-icons">add_alert</i></span>

                                  <span hidden id="show-notification-id"><i style="font-size:24px; color: red;" class="material-icons">add_alert</i><span class="badge"><small>New</small></span></span>
                              </a>
                          </li>
                          <li class="dropdown active active-color">
                              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                  <i class="material-icons">account_circle</i>
                                <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                  <li class="active active-color"><a href="{% url 'tasks:logout' %}"><span class="para-font">Sign out</span></a></li>
                                  <li class="active active-color"><a href="{% url 'tasks:change_personal_info' %}"><span class="para-font">Settings</span></a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                    <div class="col-md-12">
                     <form class="navbar-form" method="get" action="{% url 'social:search_everything' %}">
                        <div class="form-group" style="display:inline;">
                          <div class="input-group" style="display:table;">
                            <input class="form-control" type="search" placeholder="find friends and goals to inspire you..." name="query_word" id="id_q" value="" aria-describedby="sizing-addon1" required>
                            <span class="input-group-addon" style="width:1%;">
                              <span class="glyphicon glyphicon-search"></span>
                            </span>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
            </nav>
    {% endblock %}
    <br><br><br><br><br>
    <div class="container-fluid">
        {% block notifications %}
        {% endblock %}
    </div>
    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>
    {% block nav_script %}
    {% endblock %}
    {% block end %}
        <div class="fixedpicturebutton" style="bottom: 45px; right: 24px;">
            <a href="{% url 'tasks:add_proj' %}" class="btn-floating btn-large red">
                <i class="material-icons" style="font-size:32px;">create</i>
            </a>
        </div>

        <div class="fixedaddbutton" style="bottom: 45px; right: 90px;">
            <a href="{% url 'social:upload_picture' %}" class="btn-floating btn-large red">
                <i class="material-icons" style="font-size:32px;">add_a_photo</i>
            </a>
        </div>
    {% endblock %}
    <nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
        <div class="col-md-5 col-md-offset-5">
                <span class="feed-font"><span class="glyphicon glyphicon-copyright-mark"></span> Pondeye LLC</span>
        </div>
    </nav>
    {% block base_script %}
        <script>
            $(document).ready(function(){

                $('[data-toggle="tooltip"]').tooltip();
                setTimeout(function(){
                    $('.message').fadeOut('slow');}, 
                3000);
                    //checkNotification();
                    checkFailedProjectsMilestones();
                    checkNotification();
                    toastr.options = {
                      "closeButton": false,
                      "debug": false,
                      "newestOnTop": false,
                      "progressBar": false,
                      "positionClass": "toast-top-right",
                      "preventDuplicates": false,
                      "onclick": null,
                      "showDuration": "300",
                      "hideDuration": "1000",
                      "timeOut": "5000",
                      "extendedTimeOut": "1000",
                      "showEasing": "swing",
                      "hideEasing": "linear",
                      "showMethod": "fadeIn",
                      "hideMethod": "fadeOut"
                    }
                });

                function checkFailedProjectsMilestones(){
                    $.ajaxSetup({
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                    });
                    $.ajax({
                        url: '{% url 'tasks:check_milestone_proj_failed' %}',
                        type: "POST",
                        data: {},
                        success: function(response){
                            var statusParse = JSON.parse(response);
                            var status = statusParse["status"];
                            if (status == true){
                                console.log("successfully sent")
                            }
                            else{
                                console.log("something happened");
                            }
                        },
                        error: function(xhr){
                            $("#error-message").text(xhr.responseText).show();
                            clearInterval(check_failed_interval);
                        }
                    });
                }

                function checkNotification(){
                    $.ajaxSetup({
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                    });
                    $.ajax({
                        url: '{% url 'social:get_main_notifications' %}',
                        type: "GET",
                        data: {},
                        success: function(response){
                            var statusParse = JSON.parse(response);
                            var status = statusParse["status"];
                            if (status == true){
                                $("#show-notification-id").show();
                                $("#show-no-notification").hide();
                                console.log("Successfully Sent Notification");
                            }
                            else{
                                
                                console.log("No Notification!");
                              }
                        },
                        error: function(xhr){
                            $("#error-message").text(xhr.responseText).show();
                            clearInterval(check_notif_interval);
                        }
                    });
                }

                function notificationReminder(){
                    $.ajaxSetup({
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                    });
                    $.ajax({
                        url: '{% url 'social:get_main_notifications' %}',
                        type: "GET",
                        data: {},
                        success: function(response){
                            var statusParse = JSON.parse(response);
                            var status = statusParse["status"];
                            if (status == true){
                                $("#show-notif-message").show();
                                setTimeout(function(){
                                  $("#show-notif-message").fadeOut('slow');}, 
                                2000);
                                console.log("Successfully Sent Notification");
                            }
                            else{
                                
                                console.log("No Notification!");
                              }
                        },
                        error: function(xhr){
                            $("#error-message").text(xhr.responseText).show();
                            clearInterval(check_notif_interval);
                        }
                    });
                }
            var check_failed_interval = setInterval(checkFailedProjectsMilestones, 30000);
            var check_notif_interval = setInterval(notificationReminder, 20000);
        </script>
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>