{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block design %}
        <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
        <!-- Compiled and minified JavaScript -->
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <link href="{% static "image-comparison-slider/css/reset.css" %}" rel="stylesheet" type="text/css"/>
         <script src="{% static "image-comparison-slider/js/modernizr.js" %}"></script>
        <script src="{% static "custom_scripts.js" %}"></script>
        <link href="{% static 'custom_style.css' %}" rel="stylesheet" type="text/css"/>

        <!--- google font --->
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/general_design.css' %}">
    {% endblock %}
    {% block custom_design %}
    {% endblock %}
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
        {% if messages %}
            {% for message in messages %}
              <div
                      {% if message.tags == "success" %}
                            class="message alert alert-success"
                      {% else %}
                            class="message alert alert-warning"{% endif %} role="alert">
                      {{ message|safe }}
              </div>
            {% endfor %}
        {% endif %}
        {% block search %}
            <nav class="default-font navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="{% url 'tasks:home' %}"><span>Brand</span></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'tasks:home' %}">Home <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'social:todo_feed' %}">Feed</a></li>
                        <li><a href="{% url 'social:journal_entries' %}">Journal Entries</a></li>
                        <li><a href="{% url 'social:notifications' %}">Notifications</a></li>
                      </ul>
                    </li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a href="{% url 'tasks:add_proj' %}" class="btn btn-default">
                          New Project/Milestone
                          </a>
                      </li>
                      <li><a href="{% url 'tasks:logout' %}">Sign out</a></li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="{% url 'tasks:login' %}">Sign In</a></li>
                              <li><a href="#">Settings</a></li>
                          </ul>
                    </li>
                  </ul>

                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>

            <div class="container">
                <div class="row">
                  <form method="get" action="{% url 'social:search_everything' %}">
                    <div class="input-field">
                      <input class="form-control" type="search" placeholder="Discover" name="query_word" id="id_q" value="">
                    </div>
                  </form>
                </div>
            </div>

        {% endblock %}
        {% block notifications %}
        {% endblock %}
            <br><br>
        {% block body %}
        {% endblock %}

        {% block nav_script %}
        {% endblock %}
        {% block end %}
            <div class="fixedpicturebutton" style="bottom: 45px; right: 24px;">
                <a href="{% url 'tasks:add_proj' %}" class="btn-floating btn-large red">
                    <i class="material-icons" style="font-size:48px;">add</i>
                </a>
            </div>

            <div class="fixedaddbutton" style="bottom: 45px; right: 90px;">
                <a href="{% url 'social:upload_picture' %}" class="btn-floating btn-large red">
                    <i class="material-icons" style="font-size:48px;">add_a_photo</i>
                </a>
            </div>
        {% endblock %}
        {% block base_script %}
            <script>

                $(document).ready(function(){

                    setTimeout(function(){
                        $('.message').fadeOut('slow');}, 2000);

                    });
                function checkFailedProjectsMilestones(){
                    $.ajaxSetup({
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                    });
                    $.ajax({
                        url: '{% url 'tasks:check_milestone_proj_failed' %}',
                        type: "POST",
                        data: {},
                        success: function(response){
                            var statusParse = JSON.parse(response);
                            var status = statusParse["status"];
                            if (status == true){
                                console.log("successfully sent")
                            }
                            else{
                                console.log("something happened");
                            }
                        },
                        error: function(xhr){
                            $("#error-message").text(xhr.responseText).show();
                            clearInterval(check_failed_interval);
                        }
                    })
                }
                var check_failed_interval = setInterval(checkFailedProjectsMilestones, 300000);
            </script>

        {% endblock %}
</body>
</html>