packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []

container_commands:
  01_uninstall_pil:
    command: "source /opt/python/run/venv/bin/activate && yes | pip uninstall Pillow"
  02_reinstall_pil:
    command: "source /opt/python/run/venv/bin/activate && yes | pip install Pillow --no-cache-dir"
  03_install_easy_thumbnail:
    comand: "source /opt/python/run/venv/bin/activate && yes | pip install easy-thumbnails==2.4.1 django-image-cropping==1.0.4"
  04_migrate:
    command: "python manage.py migrate"
    leader_only: true
  05_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "settings.mobile-mvp"
  aws:elasticbeanstalk:container:python:
    WSGIPath: tikedge/wsgi.py
    StaticFiles: "/static/=www/static/"
