 {
   "container_commands": {
     "03_install_easy_thumbnail": {
       "command": "/opt/python/run/venv/bin/pip install easy-thumbnails==2.4.1 django-image-cropping==1.0.4 moviepy",
       "leader_only": true
     },
     "02_reinstall_pil": {
       "command": "source /opt/python/run/venv/bin/activate && yes | pip install Pillow --no-cache-dir",
       "leader_only": true
     },
     "04_migrate": {
       "command": "python manage.py migrate",
       "leader_only": true
     },
     "05_collectstatic": {
       "command": "python manage.py collectstatic --noinput",
        "leader_only": true
     },
   },
   "option_settings": [
     "aws:elasticbeanstalk:container:python": {
       "StaticFiles": "/static/=www/static/",
       "WSGIPath": "tikedge/wsgi.py"
     },
     "aws:elasticbeanstalk:application:environment": {
       "DJANGO_SETTINGS_MODULE": "tikedge.settings.mobile-mvp"
     }
   ],
   "packages": {
     "yum": {
       "libjpeg-turbo-devel": [],
       "libpng-devel": [],
       "freetype-devel": []
     }
   }
 }
