{
  "container_commands": {
    "03_migrate": {
      "command": "source /opt/python/run/venv/bin/activate && python manage.py makemigrations && python manage.py migrate --noinput",
      "leader_only": true
    },
    "04_collectstatic": {
      "command": "python manage.py collectstatic --noinput",
    },
    "01_reinstall_pil": {
      "command": "source /opt/python/run/venv/bin/activate && yes | pip install Pillow --no-cache-dir",
    },
    "02_install_easy_thumbnail": {
      "command": "source /opt/python/run/venv/bin/activate && yes | pip install easy-thumbnails==2.4.1 django-image-cropping==1.0.4 moviepy",
    },
  },
  "option_settings": {
    "aws:elasticbeanstalk:container:python": {
      "StaticFiles": "/static/=www/static/",
      "WSGIPath": "tikedge/wsgi.py"
    },
    "aws:elasticbeanstalk:application:environment": {
      "DJANGO_SETTINGS_MODULE": "settings.mobile-mvp"
    }
  },
  "packages": {
    "yum": {
      "libjpeg-turbo-devel": [],
      "libpng-devel": [],
      "freetype-devel": []
    }
  }
}
