{% extends 'tasks/settings/settings.html' %}
{% block staticfiles %}{% load static from staticfiles %}{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
  <!-- Timeline content -->
    <div class="container" style="margin-top:50px;">
      <div class="row">
        <div class="col-md-10 no-paddin-xs">
            <header>
                <p class="feed-font">Settings</p>
            </header>
          <div class="profile-nav col-md-4">
            <div class="panel">
                <div class="user-heading round">
                    <a href="{% url 'tasks:profile_view' tikedge_user.slug %}">
                        <img src="{{  has_prof_pic.profile_pics.url }}" alt="">
                    </a>
                    <h1><span class="para-font">
                        {{ tikedge_user.user.first_name }} {{ tikedge_user.user.last_name }}
                        </span>
                    </h1>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'social:edit_pond' %}"><span class="para-font">Pond Edit</span></a></li>
                    <li><a href="{% url 'social:edit_picture_sets' %}"><span class="para-font">Picture Edit</span></a></li>
                    <li class="active"><a href="{% url 'tasks:project_edit' %}"><span class="para-font">Project Edit</span></a></li>
                    <li><a href="{% url 'tasks:milestone_edit' %}">
                        <span class="para-font">Milestone Edit</span>
                        </a>
                    </li>
                    <li><a href="{% url 'tasks:change_personal_info' %}">
                        <span class="para-font">Personal Information Edit</span></a></li>
                </ul>
            </div>
          </div>
            <form method="post" action="{% url 'tasks:project_edit' %}" enctype="multipart/form-data">{% csrf_token %}
              <div class="profile-info col-md-8  animated fadeInDown">
               <!-- update info -->
                <div class="superbox">
                  {% for each_proj in projects %}
                    <div id="each_body_{{ each_proj.id }}" class="panel panel-default">
                        <div class="panel-body">
                            <div class="row superbox-list">
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <header class="display-font">{{ each_proj.blurb }}
                                                <a href="{% url 'social:project_view' each_proj.slug %}">
                                                    <span class="para-font">view...</span>
                                                </a>
                                            </header>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-md-10">
                                        <div hidden id="each_proj_{{ each_proj.id }}" class="row">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <textarea style="width:277px; height:129px;" id="name{{ each_proj.id }}" class="form-group">{{ each_proj.name_of_project }}</textarea>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <button name="update_project" type="button" onclick="send_proj_edits({{ each_proj.id }})" class="btn btn-primary" value="{{ each_proj.id }}">
                                                        <span class="para-font">Update</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                             <button type="button" class="btn btn-primary"
                                                     onclick="showEditForm({{ each_proj.id }})">
                                                <span class="para-font">Edit</span>
                                             </button>
                                            <button class="btn btn-link" onclick="return delete_mil_set({{ each_proj.id }});">
                                                <span class="para-font">Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <br>
                  {% endfor %}
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
    <script>
        function delete_mil_set(proj_id){
            if (confirm("Are you Sure?")){
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                });
                $.ajax({
                    url: '{% url 'tasks:project_edit' %}',
                    type: "POST",
                    data: { proj_id:  proj_id},
                    success: function(response){
                        var statusParse = JSON.parse(response);
                        var status = statusParse["status"];
                        if(status == true){
                            console.log("Successful Deleted Milestone Set!");
                            toastr.success("Successfully Deleted Project Set!");
                            $("#each_body_"+proj_id).hide(1000);
                        }
                        else{
                            console.log("deleted a Milestone Set!");
                            toastr.warning("Project Set Already Deleted!");
                        }
                    },
                    error: function(xhr){
                        $("#error-message").text(xhr.responseText).show();
                        toastr.warning("Sorry, Something Went Wrong. Please Try Again!");
                        console.log("Successful Added to Pond!");
                    }
                });
                return false;
            }
            else{
                return false;
            }
        }

        function send_proj_edits(proj_id){
            if (confirm("Are you Sure?")){
                var new_proj = $("#name"+proj_id).val();
                console.log("MESSAGE ", new_proj);
                var data_mes = {};
                data_mes['update_project'] = proj_id;
                data_mes['the_message'] = new_proj;
                if(new_proj && new_proj.length < 600){
                    $.ajaxSetup({
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}'}
                    });
                    $.ajax({
                        url: '{% url 'tasks:project_edit' %}',
                        type: "POST",
                        data: data_mes,
                        success: function(response){
                            var statusParse = JSON.parse(response);
                            var status = statusParse["status"];
                            if(status == true){
                                console.log("Successful Updated Project Set. Reload Page to View Changes!");
                                toastr.success("Successfully Updated Project Set! Reload Page to View Changes");
                                $("#each_proj_"+proj_id).hide(1000);
                            }
                            else{
                                console.log("Updated a Project Set!");
                                toastr.warning("Something Happened, Try It Again!");
                            }
                        },
                        error: function(xhr){
                            $("#error-message").text(xhr.responseText).show();
                            toastr.warning("Sorry, Something Went Wrong. Please Try Again!");
                            console.log("Successful Added to Pond!");
                        }
                    });
                }else{
                    toastr.warning("Project Can't Be Empty or Exceed 600 Words!");
                }
                return false;
            }
            else{
                return false;
            }
        }

        function showEditForm(id){
            $("#each_proj_"+id).toggle(1000);
        }
    </script>
{% endblock %}
</body>
</html>