body {
    background-color: #ffffff;
}
.row{
    overflow: hidden;
}


.active-color{
    color: #E39774
}
.fixedpicturebutton {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
.fixedaddbutton {
    position: fixed;
    bottom: 0px;
    right: 20px;
}

.active a, .navbar-principal .navbar-nav .active a:hover {
    color: #5C9EAD;
    background: #EEEEEE;
}

.default-font{
    font-family: 'Oswald', sans-serif;
}
.display-font{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
.para-font {
    font-family:  'Josefin Slab', serif;
    font-size: 16px;
}
.nav-font {
    font-family: 'Roboto', sans-serif;
    color: #764248;
}
.link-color{
    color: #764248;
}
.header-font{
    font-weight: bold;
}
.header-color{
    color: #6A3937;
}
.journal-font{
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 24px;
    color: #2c2c2c;
}

div.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.panel-default-grey-blue{
    background-color: #4E6E5D;
}

.panel-default-powder{
    background-color: #CCCBC6;
}
.status-font{
    font-family: 'Aref Ruqaa', serif;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
    color: #5C9EAD;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.content-float{
	float:left;
    width:300px;
}

.btn-primary {
    color: #fff;
    background-color: #5C9EAD;
    border-color: #5C9EAD;
}
.alert-warning {
    color: #6A3937;
    background-color: #6A3937;
    border-color: #6A3937;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
