{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block design %}
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        {% load i18n %}
    {% endblock %}
{% block cus_design %}
{% endblock %}
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
{% block bar %}
    {% block search %}
    {% endblock %}
{% endblock %}
{% block body %}
{% endblock %}
</body>
</html>