{% extends 'base/nav_bar.html' %}
{% block staticfiles %}{% load static from staticfiles %}{% endblock %}
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="display-font">{{ tikedge_user.user.first_name }} {{ tikedge_user.user.last_name }}</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% if has_prof_pic %}
                                        <img src ='{{  has_prof_pic.profile_pics.url }}' style="width:40%;height:40%;" class="img-circle img-thumbnail"/>
                                        Status: <span class="h3 default-font header-color">{{ status_of_user }}</span>
                                    {% else %}
                                        <form method="post" action="{% url 'tasks:home' %}" enctype="multipart/form-data">{% csrf_token %}
                                                <div class="col-md-6">
                                                    {{ user_picture_form.picture }}
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="btn btn-default" type="submit"
                                                   name="upload-picture" value="Upload Profile Picture">
                                                </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <a class="btn btn-primary" href="{% url 'tasks:profile_view' user_name %}">View Profile</a>
                            </div>
                            <br>
                            <div class="row">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <p class="">Completed</p>
                                        <div class="col-md-6">
                                            <span class="">Projects: {{ complete_proj_count }}</span>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="">Milestones: {{ completed_mil_count }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <p class="">Failed</p>
                                        <div class="col-md-6">
                                            <span class="">Projects: {{ failed_proj_count }}</span>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="">Milestones: {{ failed_mil_count }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-info">
                            <div class="panel-body card">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="list-group">
                                            {% if current_tasks %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="h3">Upcoming MileStones</p>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <ul class="list-group">
                                                        {% for current_task in current_tasks %}
                                                            <li id=row_curr_{{ current_task.id }} class="list-group-item">
                                                                <a href="{% url 'social:milestone_view' current_task.slug %}">{{ current_task.blurb }}</a>
                                                                <button onclick="sendCompletedMil({{ current_task.id }})" class="btn btn-success">
                                                                    Completed
                                                                </button>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                 </div>
                                            {% else %}
                                                    <p class="h3 default-font">No Upcoming MileStones</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {% if current_projs %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="h3 default-font">Current Projects</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <ul class="list-group">
                                                    {% for each_proj in current_projs %}
                                                        <li id=proj_curr_{{ each_proj.id }} class="list-group-item">
                                                            <a href="{% url 'social:project_view' each_proj.slug %}">
                                                                {{ each_proj.blurb }}
                                                            </a>
                                                            <button onclick="sendCompletedProj({{ each_proj.id }})" class="btn btn-success">
                                                                Completed
                                                            </button>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% else %}
                                            <p class="h3 default-font">No Upcoming Projects</p>
                                        {% endif %}

                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-5">
                                            <span class="flow-text"><button id="show-pond" class="btn btn-lg btn-default">View Pond</button></span>
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-7 col-md-offset-2">
                                    <div hidden id="pond-id" class="panel panel-default">
                                        {% if ponders %}
                                            <div class="panel-body card">
                                                {% for ponder in ponders %}
                                                    <div class="row">
                                                         <div class="col-md-3">
                                                             <img src="{{ ponder.profile_pics.url }}" alt="No Picture Uploaded" class="img-thumbnail">
                                                         </div>
                                                         <div class="col-md-9">
                                                            <a href="{% url 'tasks:profile_view' ponder.username %}">
                                                                <span class="flow-text">{{ ponder.first_name }} {{ ponder.last_name }}</span>
                                                            </a>
                                                         </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <span>Empty Pond</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $("#show-pond").click(function(){
                $("#pond-id").toggle(1000);
            });
            function sendCompletedMil(pk){
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                });
                $.ajax({
                    url: '{% url 'tasks:milestone_done' %}',
                    type: "POST",
                    data: { mil_Id: pk  },
                    success: function(response){
                        var statusParse = JSON.parse(response);
                        var status = statusParse["status"];
                        var count = 0;
                        if (status == true){
                            $("#row_curr_"+pk).hide();
                            Materialize.toast("Sweet!", 2000);
                        }
                        else{
                            console.log("already vouched");
                        }
                        console.log("Successful sent request" + count);
                    },
                    error: function(xhr){
                        $("#error-message").text(xhr).show();
                    }
                })
            }
            function sendCompletedProj(pk){
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                });
                $.ajax({
                    url: '{% url 'tasks:project_done' %}',
                    type: "POST",
                    data: { proj_id: pk  },
                    success: function(response){
                        var statusParse = JSON.parse(response);
                        var status = statusParse["status"];
                        if (status == true){
                            $("#proj_curr_"+pk).hide();
                            Materialize.toast("Sweet! Project Done", 2000);
                        }
                        else{
                            console.log("already said done to project");
                        }
                    },
                    error: function(xhr){
                        $("#error-message").text(xhr).show();
                    }
                })
            }
        </script>
    {% endblock %}
  </body>
</html>
