{% extends 'base/nav_bar.html' %}
{% block staticfiles %}{% load static from staticfiles %}{% endblock %}
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <div class="card horizontal">
                        {% if has_prof_pic %}
                            <img src ='{{  has_prof_pic.profile_pics.url }}' style="width:40%;height:40%;" class="img-circle"/>
                        {% else %}
                            <form method="post" action="{% url 'tasks:home' %}" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="col s6">
                                        {{ user_picture_form.picture }}
                                    </div>
                                    <div class="col s6">
                                        <input class="waves-effect waves-light" type="submit"
                                       name="upload-picture" value="Upload Profile Picture">
                                    </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="col s6">
                    <div class="card-panel teal">
                         status of user
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    {% if current_task %}
                        <div class="card-panel teal">
                            <h3>Upcoming MileStones</h3>
                                {{ current_task.name_of_tasks }}
                                {{ current_task.start }}
                                {{ current_task.end }}
                        </div>
                    {% else %}
                         <div class="card-panel teal">
                            <span>No Upcoming MileStones</span>
                         </div>
                    {% endif %}
                </div>
                <div class="col s6">
                    <div class="card-panel teal">
                        {% if has_project %}
                        {% else %}
                            <span>No Upcoming Projects</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card-panel teal">
                        {% if recent_activity %}
                            <span></span>
                        {% else %}
                            <span>No Recent Activities</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
  </body>
</html>
