{% extends 'base/nav_bar.html' %}
{% block staticfiles %}{% load static from staticfiles %}{% endblock %}
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    {% block body %}
        <div class="container" style="margin-top:50px;">
            <div class="col-md-10 no-paddin-xs">
                <div class="row">
                    <div class="col-md-6">
                        <span class="h1 status-font link-color">{{ status_of_user }}</span>
                    </div>
                    {% if not aval_pond %}
                        <div class="col-md-3 col-md-offset-9">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#pondRowsModal">
                                <span class="para-font">Add to Pond</span>
                            </button>
                        </div>
                        {% include "social/pond_list.html" %}
                    {% endif %}
                </div>
                <div class="row">
                <!-- left content-->
                  <div class="profile-nav col-md-4">
                    <div class="panel">
                      <div class="user-heading round">
                          <a href="{% url 'tasks:profile_view' user_name %}">
                              <img src ='{{  has_prof_pic.profile_pics.url }}' alt="">
                          </a>
                            <br><br>
                          <p><h4 class="display-font">{{ user.user.first_name }} {{ user.user.last_name }}</h4></p>
                      </div>
                    </div>
                      <hr>
                      <br>
                    <div class="widget">
                      <div class="widget-header">
                        <div class="widget-header">
                            <h3 class="widget-caption"><span class="display-font">Goals</span></h3>
                        </div>
                      </div>
                      <div class="widget-body bordered-top bordered-red">
                        <div class="card">
                            <div class="content">
                                 <ul class="list-unstyled team-members">
                                    {% if current_projs %}
                                        {% for each_proj in current_projs %}
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="avatar">
                                                        </div>
                                                    </div>
                                                     <div class="col-md-9">
                                                        <span id=proj_curr_{{ each_proj.id }} class="list-group-item">
                                                            <a href="{% url 'social:project_view' each_proj.slug %}">
                                                                {{ each_proj.blurb }}
                                                            </a>
                                                        </span>
                                                     </div>
                                                </div>
                                             </li>
                                         {% endfor %}
                                        {% else %}
                                            <span class="para-font">No Upcoming Goals</span>
                                        {% endif %}
                                 </ul>
                            </div>
                        </div>
                      </div>
                    </div><!-- End Friends activity -->
                  </div>
                                  <!-- right  content-->
                  <div class="profile-info col-md-8  animated fadeInUp">
                    <div class="panel panel-white post panel-shadow">
                      <div class="post-heading">
                          <div class="pull-left">
                              <p class="h3"><span class="default-font">Acomplished Goals: {{ complete_proj_count }}</span></p>
                          </div>
                      </div>
                        <div class="post-heading panel-default-powder">
                          <div class="pull-left">
                              <p class="h3"><span class="default-font">Failed Goals: {{ failed_proj_count }}</span></p>
                          </div>
                      </div>
                    </div><!-- first post-->
                      <div class="panel panel-white post panel-shadow">
                          <div class="post-heading">
                              <div class="pull-left">
                                  <p class="h3"><span class="default-font">Acomplished Milestones: {{ completed_mil_count }}</span></p>
                              </div>
                          </div>
                            <div class="post-heading panel-default-powder">
                              <div class="pull-left">
                                  <p class="h3"><span class="default-font">Failed Milestones: {{ failed_mil_count }}</span></p>
                              </div>
                          </div>
                      </div><!-- first post-->
                    <!-- second post -->
                        <span class="default-font">Upcoming Milestones</span>
                        <br><br>
                        <div class="panel panel-white post panel-shadow">
                            {% if current_tasks %}
                                {% for current_task in current_tasks %}
                                    <span id=row_curr_{{ current_task.id }}>
                                      <div class="post-heading">
                                          <div class="pull-left meta">
                                              <a class="post-user-name" href="{% url 'social:milestone_view' current_task.slug %}">{{ current_task.blurb }}</a>
                                          </div>
                                      </div>
                                    </span>
                                {% endfor %}
                            {% else %}
                                <div class="post-heading">
                                      <div class="pull-left meta">
                                          <span class="para-font">No Upcoming Milestones</span>
                                      </div>
                                </div>
                            {% endif %}
                        </div>
                  </div><!-- end third post -->
                </div>
            </div>
        </div>
        <script>
            $("#show-pond").click(function(){
                $("#pond-id").toggle(1000);
            });
            $('#add-friend-button').click(function(){
                var id = $(this).attr("name");
                console.log("Friends Adding Request sent ", + id);
                send_friends_request(id);
            });
            $("#add_to_pond").click(function(){
                 var id = '{{ user.id }}';
                 var pond_id = $( "#add_pond_list option:selected" ).val()
                 add_to_pond(id, pond_id);

            });
            function add_to_pond(id, pond_id){
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                });
                $.ajax({
                    url: '{% url 'social:send_friend_request' %}',
                    type: "POST",
                    data: { user_id: id, pond_id:  pond_id},
                    success: function(data){
                        var statusParse = JSON.parse(response);
                        var status = statusParse["status"];
                        if(status == true){
                            console.log("Successful Added to Pond!");
                            toastr.success("Successfully sent request!");
                        }
                        else{
                            console.log("Successful Added to Pond!");
                            toastr.warning("Sorry, Something Went Wrong. PleaseTry Again!");
                        }
                    },
                    error: function(xhr){
                        $("#error-message").text(xhr.responseText).show();
                        toastr.warning("Sorry, Something Went Wrong. PleaseTry Again!");
                        console.log("Successful Added to Pond!");
                    }
                })
            }
        </script>
    {% endblock %}
  </body>
</html>